<div class="wrapper">
  <form [formGroup]="signUpForm">
    <app-file-upload (hasResultUpload)="onHasSrcFile($event)">
      <div class="avatar">
        <div *ngIf="avatarFormControl.value" class="wrapper-avatar">
          <img
            [src]="rootApiRequest + '/file/get/' + avatarFormControl.value"
          />
        </div>
        <svg
          *ngIf="!avatarFormControl.value"
          xmlns="http://www.w3.org/2000/svg"
          width="120"
          height="120"
          fill="#D9D9D9"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </div>
    </app-file-upload>
    <div class="gender mt-3">
      <app-form-control>
        <ng-container>
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            [formControlName]="formFields.gender"
            [value]="gender.MALE"
            [checked]="genderFormControl.value === gender.MALE"
          />
          Mr.
          <input
            class="ms-4 form-check-input"
            type="radio"
            name="gender"
            [formControlName]="formFields.gender"
            [value]="gender.FEMALE"
            [checked]="genderFormControl.value === gender.FEMALE"
          />
          Ms.
        </ng-container>
      </app-form-control>
    </div>
    <div class="mt-3">
      <app-form-control
        [label]="'Full name'"
        [touchedOrDirty]="
          fullnameFormControl.touched || fullnameFormControl.dirty
        "
        [errorMessages]="fullnameErrorMessages"
      >
        <ng-container>
          <input formControlName="fullname" type="text" class="form-control" />
        </ng-container>
      </app-form-control>
    </div>
    <div class="mt-3">
      <app-form-control
        [label]="'Email'"
        [touchedOrDirty]="emailFormControl.touched || emailFormControl.dirty"
        [errorMessages]="emailErrorMessages"
      >
        <ng-container>
          <input formControlName="email" type="email" class="form-control" />
        </ng-container>
      </app-form-control>
    </div>
    <div class="mt-3">
      <app-form-control
        label="Address"
        [touchedOrDirty]="
          addressFormControl.touched || addressFormControl.dirty
        "
        [errorMessages]="addressErrorMessages"
      >
        <input
          [formControlName]="formFields.address"
          type="text"
          class="form-control"
        />
      </app-form-control>
    </div>
    <div class="mt-3">
      <app-form-control
        [label]="'Phone'"
        [touchedOrDirty]="phoneFormControl.touched || phoneFormControl.dirty"
        [errorMessages]="phoneErrorMessages"
      >
        <ng-container>
          <input formControlName="phone" type="text" class="form-control" />
        </ng-container>
      </app-form-control>
    </div>
    <div class="mt-3"></div>

    <div class="button-register">
      <app-register-large-button
        (clickButton)="submitForm()"
      ></app-register-large-button>
    </div>
    <div class="mt-3 text-center">
      If you have an account, please
      <a routerLink="/account/sign-in">sign in here</a>
    </div>
  </form>
</div>
<ng-template #signUpSuccesPopup>
  <app-sign-up-success
    (onClickButton)="handleClickContinueButton()"
  ></app-sign-up-success>
</ng-template>
