.wrapper {
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 70px);
  overflow: auto;

  form {
    margin-top: 50px;
    width: 525px;

    h3 {
      margin-bottom: 20px;
      text-align: center;
    }

    .button-register {
      margin-top: 30px;
    }


    .avatar {
      cursor: pointer;
      display: flex;
      justify-content: center;

      .wrapper-avatar {
        width: 120px;
        height: 120px;
        box-sizing: border-box;

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }
    }

    .gender {
      input {
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
    }
  }
}