.wrapper {
  display: flex;
  justify-content: center;

  form {
    margin-top: 50px;
    width: 525px;

    h3 {
      margin-bottom: 20px;
      text-align: center;
    }

    .button-register {
      margin-top: 30px;
    }

    .avatar {
      .avatar-prevỉew {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      .file-name {
        font-style: italic;
      }

      .select-file-warning {
        text-align: center;
        font-size: 14px;
        font-style: italic;
      }
    }
  }
}