<div class="wrapper">
  <form [formGroup]="signUpForm">
    <h3>Register</h3>
    <app-form-control
      [label]="'Avatar'"
      [touchedOrDirty]="avatarFormControl.touched || avatarFormControl.dirty"
    >
      <ng-container>
        <div class="avatar">
          <div *ngIf="avatarSrc" class="text-center">
            <img [src]="avatarSrc" class="avatar-prevỉew" />
          </div>
          <div *ngIf="avatarFileName" class="text-center mt-2 file-name">
            {{ avatarFileName }}
          </div>
          <div class="text-center mt-3">
            <app-file-upload
              (hasSrcFile)="onHasSrcFile($event)"
              (hasFileName)="onHasFileName($event)"
            ></app-file-upload>
          </div>
          <div class="select-file-warning">(File must be <= 1Mb)</div>
        </div>
      </ng-container>
    </app-form-control>
    <app-form-control
      [label]="'Full name'"
      [touchedOrDirty]="
        fullnameFormControl.touched || fullnameFormControl.dirty
      "
      [errorMessages]="fullnameErrorMessages"
    >
      <ng-container>
        <input formControlName="fullname" type="text" class="form-control" />
      </ng-container>
    </app-form-control>
    <app-form-control
      [label]="'Email'"
      [touchedOrDirty]="emailFormControl.touched || emailFormControl.dirty"
      [errorMessages]="emailErrorMessages"
    >
      <ng-container>
        <input formControlName="email" type="email" class="form-control" />
      </ng-container>
    </app-form-control>
    <app-form-control
      [label]="'Phone'"
      [touchedOrDirty]="phoneFormControl.touched || phoneFormControl.dirty"
      [errorMessages]="phoneErrorMessages"
    >
      <ng-container>
        <input formControlName="phone" type="text" class="form-control" />
      </ng-container>
    </app-form-control>
    <div class="button-register">
      <app-register-large-button
        (clickButton)="submitForm()"
      ></app-register-large-button>
    </div>
    <div class="mt-3 text-center">
      If you have an account, please
      <a routerLink="/account/sign-in">sign in here</a>
    </div>
  </form>
</div>
<ng-template #signUpSuccesPopup>
  <app-sign-up-success
    (onClickButton)="handleClickContinueButton()"
  ></app-sign-up-success>
</ng-template>
