<div class="wrapper">
  <form [formGroup]="forgotPasswordForm">
    <h3>Forgot password</h3>
    <div class="notice-input">Enter your email address</div>
    <app-form-control
      [touchedOrDirty]="emailFormControl.touched || emailFormControl.dirty"
      [errorMessages]="emailErrorMessages"
    >
      <ng-container>
        <input formControlName="email" type="email" class="form-control" />
      </ng-container>
    </app-form-control>
    <div class="button-wrapper" (click)="submitForm()">
      <button type="button" class="btn btn-primary">
        <i class="bi bi-arrow-right"></i>
        <span> Continue </span>
      </button>
    </div>
  </form>
</div>
<ng-template #resetSuccesPopup>
  <app-pop-up-success
    [content]="contentPopupSuccess.RESET_PASSWORD_SUCCES"
    (onClickButton)="handleClickContinueButton()"
  ></app-pop-up-success>
</ng-template>
