<div class="wrapper">
  <ng-container *ngFor="let category of listCategories">
    <div
      class="wrapper-category"
      [ngClass]="{
        'category-selected':
          selectedCategory && category.id == selectedCategory.id
      }"
      (click)="onSelectCategory(category)"
    >
      <div
        class="wrapper-category-name"
        [ngClass]="{ 'category-all': !category.id }"
      >
        {{ category.name }}
      </div>
      <div class="wrapper-category-action" *ngIf="category.id">
        <i
          class="bi bi-pencil action-button"
          (click)="showPopupEditCategory(category, $event)"
        ></i>
        <i
          class="bi bi-trash3 ms-3 action-button"
          style="color: red"
          (click)="showPopupConfirmDeleteCategory(category, $event)"
        ></i>
      </div>
    </div>
  </ng-container>
  <button type="button" (click)="showPopupAddNewCategory()">
    <i class="bi bi-plus-lg"></i>
    <span class="ms-2">New category</span>
  </button>
</div>
<ng-template #addNewCategory>
  <app-add-edit-category
    [isEdit]="isEdit"
    [categoryEdit]="actionCategory"
    (clickCancel)="dismissPopup()"
    (clickSave)="saveAddOrUpdateCategory()"
  ></app-add-edit-category>
</ng-template>
<ng-template #confirmDelete>
  <app-confirm-delete
    (clickCancelButton)="dismissPopup()"
    (clickOkButton)="processDeleteCategory()"
  >
    <div>
      <p>
        All information will be permanently deleted.
        <br />
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
  </app-confirm-delete>
</ng-template>
