.wrapper {
  max-height: calc(100vh - 60px);
  overflow: auto;

  &-category {
    // height: 34px;
    height: 50px;
    padding: 0px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;


    &:hover {
      background-color: black;
      color: white;

      .action-button {
        visibility: visible;
      }
    }

    &-name {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &-action {
      display: flex;
      align-items: center;

      .action-button {
        visibility: hidden;
      }
    }
  }

  button {
    // margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }
}