<div class="wrapper-about">
  <a href="https://www.funix.edu.vn" target="_blank">
    <img src="../../../assets/icon/FUNiX-full-logo-original.png" />
  </a>
  <ul>
    <li>Copyright&copy;2023 by Dang Vinh Phuc</li>
    <li>This is a graduation project for the CCDN course at FUNiX</li>
    <li class="mt-2">For any information or suggestions, please contact:</li>
    <li>
      <i class="bi bi-code-square icon"></i>
      <span>Dang Vinh Phuc - FX12504</span>
    </li>
    <li>
      <i class="bi bi-envelope-at icon"></i
      ><a href="mailto:phucdvFX12504@funix.edu.vn"
        >phucdvFX12504@funix.edu.vn</a
      >
    </li>
    <li>
      <i class="bi bi-telephone icon"></i>
      <span>0983789990</span>
    </li>
    <li>
      <i class="bi bi-github icon"></i>
      <a
        href="https://github.com/phuc-dangvinh/SWP490x-do-an-tot-nghiep"
        target="_blank"
        >https://github.com/phuc-dangvinh/SWP490x-do-an-tot-nghiep</a
      >
    </li>
  </ul>
</div>
