.wrapper {
  display: flex;
  justify-content: center;

  form {
    margin-top: 50px;
    width: 525px;

    h3 {
      margin-bottom: 20px;
      text-align: center;
    }

    .notice-input {
      margin-bottom: 20px;
      text-align: center;
    }

    .button-wrapper {
      margin-top: 30px;

      button {
        width: 100%;
      }
    }

  }
}