<div class="wrapper">
  <form [formGroup]="formChangePassword">
    <h3>Change password</h3>
    <div class="mt-3">
      <app-form-control
        [label]="'Current password'"
        [touchedOrDirty]="
          currentPasswordControl.touched || currentPasswordControl.dirty
        "
        [errorMessages]="currentPasswordErrorMessages"
      >
        <ng-container>
          <input
            formControlName="currentPassword"
            type="password"
            class="form-control"
          />
        </ng-container>
      </app-form-control>
    </div>
    <ng-container formGroupName="changePassword">
      <div class="mt-3">
        <app-form-control
          [label]="'New password'"
          [touchedOrDirty]="
            newPasswordControl.touched || newPasswordControl.dirty
          "
          [errorMessages]="newPasswordErrorMessages"
        >
          <ng-container>
            <input
              formControlName="newPassword"
              type="password"
              class="form-control"
              (focus)="onFocusInputNewPassword()"
              (blur)="onBlurInputNewPassword()"
            />
            <password-strength-meter
              *ngIf="showPasswordStrengthMeter"
              [password]="newPasswordControl.value"
            ></password-strength-meter>
          </ng-container>
        </app-form-control>
      </div>
      <div class="mt-3">
        <app-form-control
          [label]="'Confirm new password'"
          [touchedOrDirty]="
            confirmNewPasswordControl.touched || confirmNewPasswordControl.dirty
          "
          [errorMessages]="confirmNewPasswordErrorMessages"
        >
          <ng-container>
            <input
              formControlName="confirmNewPassword"
              type="password"
              class="form-control"
            />
          </ng-container>
        </app-form-control>
      </div>
    </ng-container>
    <div class="button-wrapper" (click)="submitForm()">
      <button type="button" class="btn btn-primary">
        <i class="bi bi-arrow-clockwise"></i>
        <span> Update password </span>
      </button>
    </div>
  </form>
</div>
