<div class="wrapper">
  <div class="wrapper-left-side">
    <app-category></app-category>
  </div>
  <div class="wrapper-main ms-5">
    <div class="header-action">
      <app-search-product
        (clickReset)="refreshListProducts()"
        (clickSearch)="searchProduct($event)"
      ></app-search-product>
    </div>
    <div class="grid-product mt-4">
      <ng-container *ngFor="let product of productList">
        <app-product-cell
          [product]="product"
          [routerLink]="['/product/detail', product.id]"
        ></app-product-cell>
      </ng-container>
    </div>
  </div>
</div>
