.wrapper {
  margin-top: 30px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;


  &-left-side {
    width: 20%;
    height: 100%;
  }

  &-main {
    width: 80%;
    height: 100%;

    .header-action {
      display: flex;
      justify-content: center;
    }

    .grid-product {
      max-height: 80vh;
      width: 100%;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      // row-gap: 20px;

      app-product-cell {
        cursor: pointer;
      }
    }
  }
}