<div class="wrapper">
  <div class="header">
    <div>
      <i class="bi bi-check-circle"></i>
    </div>
    <div class="title">SUCCESS</div>
  </div>
  <div class="body">
    <ng-container *ngIf="content == contentPopupSuccess.SIGN_UP_SUCCES">
      Congratulations, your account has been successfully created. Please check
      your email for details and log in to continue.
    </ng-container>
    <ng-container *ngIf="content == contentPopupSuccess.RESET_PASSWORD_SUCCES">
      Congratulations, your account has been reset. Please check your email for
      details and log in to continue.
    </ng-container>
    <ng-container *ngIf="content == contentPopupSuccess.ORDER_SUCCES">
      Thank you for using our service
    </ng-container>
  </div>
  <div class="footer">
    <app-continue-button
      [textButton]="textButton"
      (clickButton)="handleClick()"
    ></app-continue-button>
  </div>
</div>
