/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.center-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-center {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.center-top {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}