@import 'bootstrap/scss/bootstrap';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  // font-family: "Roboto Condensed", sans-serif;
}

.center-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-center {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-top {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-bottom {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}