<div class="outter-wrapper">
  <div class="inner-wrapper">
    <span class="logo">
      <img src="../../../../assets/images/we-re-growing.jpg" />
    </span>
    <ul ngbNav>
      <ng-container *ngFor="let mainItem of mainItems">
        <li
          *ngIf="getSubItems(mainItem.group).length == 0"
          ngbNavItem
          class="main-item"
        >
          <span [routerLink]="mainItem.routerLink">
            <ng-container *ngTemplateOutlet="mainMenuDisplay"></ng-container>
          </span>
        </li>
        <li
          *ngIf="getSubItems(mainItem.group).length > 0"
          ngbDropdown
          class="main-item"
        >
          <span ngbDropdownToggle>
            <ng-container *ngTemplateOutlet="mainMenuDisplay"></ng-container>
          </span>
          <div ngbDropdownMenu>
            <button
              ngbDropdownItem
              *ngFor="let subItem of getSubItems(mainItem.group)"
              [routerLink]="subItem.routerLink"
              (click)="clickSubItem(subItem)"
            >
              {{ subItem.displayName }}
            </button>
          </div>
        </li>
        <ng-template #mainMenuDisplay>
          <i
            *ngIf="mainItem.icon"
            class="bi"
            [class]="mainItem.icon"
            style="font-size: 22px"
          ></i>
          <img
            *ngIf="
              currentUser?.avatar &&
              mainItem.displayName == currentUser.fullname
            "
            [src]="currentUser.avatar"
          />
          <span class="item-name">{{ mainItem.displayName }}</span>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</div>
