.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.outter-wrapper {
  background-color: rgb(228, 196, 196);

  .inner-wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 60px;

    ul {

      li {
        list-style-type: none;
        list-style-position: inside;
        cursor: pointer;

        .item-name {
          margin-left: 5px;
        }
      }

      .main-item {
        margin: 0px 15px;
      }
    }
  }
}