<div class="cart-management mt-4">
  <div class="left">
    <div>
      <div class="title">CART</div>
      <table>
        <thead>
          <tr>
            <td class="checkbox">
              <input type="checkbox" />
            </td>
            <td class="product-name">Product</td>
            <td class="unit-price">Unit price</td>
            <td class="quantity">Quantity</td>
            <td class="total-amount">Total Amount</td>
            <td class="delete">Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="checkbox">
              <input type="checkbox" />
            </td>
            <td class="product-name">
              <img />
              <div>
                Bơm hơi không dây đa năng Daison Portable Electric Air Pump
                Wireless 74W DS-AP07 - Tibet - Grey
              </div>
            </td>
            <td class="unit-price">1.590.000 đ</td>
            <td class="quantity">
              <button>
                <i class="bi bi-chevron-down"></i>
              </button>
              <div class="quantity-value">1</div>
              <button>
                <i class="bi bi-chevron-up"></i>
              </button>
            </td>
            <td class="total-amount">1.590.000 đ</td>
            <td class="delete">
              <button>
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="title">
      <div>SHIPMENT INFO</div>
      <form>
        <app-form-control>
          <ng-container>
            <input
              type="radio"
              [formControlName]="formFields.sex"
              [value]="sex.MALE"
              [checked]="sexFormControl.value === sex.MALE"
            />
            Male
            <input
              type="radio"
              [formControlName]="formFields.sex"
              [value]="sex.FEMALE"
              [checked]="sexFormControl.value === sex.FEMALE"
            />
            Female
          </ng-container>
        </app-form-control>
      </form>
    </div>
    <div class="title">PAYMENT METHOD</div>
  </div>
  <div class="right">
    <div class="title">ORDER SUMMARY</div>
  </div>
</div>
