.wrapper {
  margin-top: 30px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;

  &-left-side {
    width: 20%;
    height: 100%;
  }

  &-main {
    width: 80%;
    height: 100%;

    .header-action {
      display: flex;

      button {
        height: 50px;
        width: 100px;
      }

      .wrapper-button {
        .button-new {
          background-color: black;
          color: white;
          border: none;

          &:hover {
            opacity: 0.8;
          }
        }

        .button-delete {
          border: none;
          background-color: red;
          color: white;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .wrapper-search {
        .button-search {
          background-color: white;
          color: black;
          border: 2px solid black;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .wrapper-table {
      height: 70vh;
      overflow: auto;
    }
  }
}