<div class="wrapper">
  <form [formGroup]="formAddNewCategory">
    <h3 class="text-center">{{ isEdit ? "Edit Category" : "Add Category" }}</h3>
    <app-form-control
      label="Category name"
      [touchedOrDirty]="
        categoryNameFormControl.touched || categoryNameFormControl.dirty
      "
      [errorMessages]="categoryNameErrorMessages"
    >
      <ng-container>
        <input formControlName="categoryName" type="text" />
      </ng-container>
    </app-form-control>
  </form>
  <div class="wrapper-button mt-4">
    <button class="button-save" (click)="onSave()">Save</button>
    <button class="button-cancel ms-3" (click)="onCancel()">Cancel</button>
  </div>
</div>
