.wrapper {
  padding: 30px;

  .wrapper-content {
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
    overflow: auto;

    .wrapper-content-left {
      padding: 5px;

      .wrapper-img {
        border: 1px solid #D9D9D9;
        height: 200px;
        width: 200px;

        .no-img {
          border: 1px solid #D9D9D9;
          width: 100%;
          height: 100%;
        }

      }
    }

    .wrapper-content-right {
      width: 70%;

      input {
        height: 50px;
        width: 100%;
        background-color: white;
        border: 2px solid black;
      }

      .select-category {
        .ng-select-container {
          // background-color: aquamarine;
          height: 50px;
          width: 100%;
          border: 2px solid black;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .wrapper-footer {
    display: flex;
    justify-content: center;

    button {
      height: 50px;
      width: 100px;
    }

    .button-save {
      border: none;
      background-color: black;
      color: white;

      &:hover {
        opacity: 0.8;
      }
    }

    .button-cancel {
      border: 2px solid black;
      background-color: white;
      color: black;

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }
}