.wrapper {
  padding: 30px;

  .wrapper-content {
    .wrapper-content-above {
      img {
        height: 220px;
        width: 220px;
      }
    }
  }

  .wrapper-footer {
    button {
      height: 50px;
      width: 100px;
    }

    .button-save {
      border: none;
      background-color: black;
      color: white;

      &:hover {
        opacity: 0.8;
      }
    }

    .button-cancel {
      border: 2px solid black;
      background-color: white;
      color: black;

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }
}