table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
}

tr:hover {
  background-color: #FFCCA9;
}

th {
  background-color: #A6A6A6;
}

img {
  border-radius: 50%;
  height: 60px;
}

tr {
  .info {
    padding-top: 25px;
  }

  .name{
    margin-left: 15px;
  }
}