table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
}

th {
  background-color: #D9D9D9;
}

tr {
  .name {
    margin-left: 15px;
  }
}

td {
  height: 60px;
  max-height: max-content;
}

.avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.no-avatar {
  font-size: 30px;
  color: #A6A6A6;
}

// column width
.check-box {
  width: 3%;
}

.full-name {
  width: 18%;
}

.email {
  width: 18%;
}

.address {
  width: 25%;
}

.phone {
  width: 15%;
}

.admin {
  width: 8%;
}

.action {
  width: 13%;
}

//
.search-box {
  float: right;
}