table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
}

th {
  background-color: #006FF7;
  color: white;
}

tr {
  .name {
    margin-left: 15px;
  }
}

td {
  height: 60px;
  max-height: max-content;
}

.avatar {
  border-radius: 50%;
  height: 60px;
}

.no-avatar {
  font-size: 30px;
  color: #A6A6A6;
}

.check-box {
  width: 5%;
}

.full-name {
  width: 30%;
}

.email {
  width: 30%;
}

.phone {
  width: 15%;
}

.admin {
  width: 10%;
}

.action {
  width: 10%;
}

.search-box {
  float: right;
}