<div>
  <div class="container-fluid mt-4 mb-3">
    <div>
      <app-new-large-button
        (clickButton)="openPopup(BUTTON.NEW)"
      ></app-new-large-button>
      <app-delete-large-button
        [isDisable]="!selectedUserIds.length"
        (clickButton)="openPopup(BUTTON.DELETE)"
      ></app-delete-large-button>
      <app-search-box
        [width]="30"
        class="search-box"
        (clickSearch)="search($event)"
      ></app-search-box>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th class="check-box">
            <app-check-box-button
              [isChecked]="alreadyCheckAll"
              [disabled]="disableCheckAll"
              (changeState)="checkAllItems($event)"
            ></app-check-box-button>
          </th>
          <th class="full-name">Fullname</th>
          <th class="email">Email</th>
          <th class="address">Address</th>
          <th class="phone">Phone</th>
          <th class="admin">Admin</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody class="py" *ngFor="let user of itemsOfPage">
        <tr>
          <td>
            <div class="center-center">
              <app-check-box-button
                [isChecked]="user.checked"
                [disabled]="user.isAdmin"
                (changeState)="checkItem(user, $event)"
              ></app-check-box-button>
            </div>
          </td>
          <td>
            <div class="left-center">
              <span>
                <img
                  *ngIf="user.avatar"
                  [src]="rootApiRequest + '/file/get/' + user.avatar"
                  class="mx-auto avatar"
                />
                <svg
                  *ngIf="!user.avatar"
                  xmlns="http://www.w3.org/2000/svg"
                  width="45"
                  height="45"
                  fill="#D9D9D9"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
                <ng-template #noAvatar>
                  <i class="bi bi-person-circle no-avatar"></i>
                </ng-template>
              </span>
              <span class="name">{{ user.fullname }}</span>
              <span
                *ngIf="user.gender == gender.MALE"
                class="badge rounded-pill text-bg-primary ms-2"
                ><i class="bi bi-gender-female"></i
              ></span>
              <span
                *ngIf="user.gender == gender.FEMALE"
                class="badge rounded-pill text-bg-danger ms-2"
                ><i class="bi bi-gender-male"></i
              ></span>
            </div>
          </td>
          <td>
            <div class="left-center">
              {{ user.email }}
            </div>
          </td>
          <td>
            <div class="left-center">
              {{ user.address }}
            </div>
          </td>
          <td>
            <div class="left-center">
              {{ user.phone }}
            </div>
          </td>
          <td>
            <div class="center-center">
              <app-slider-button
                [isChecked]="user.isAdmin"
                [disabled]="user.isAdmin"
                (changeState)="changeRole(user.id, $event)"
              ></app-slider-button>
            </div>
          </td>
          <td>
            <div class="center-center">
              <app-edit-button
                ngbTooltip="edit"
                (clickButton)="openPopup(BUTTON.EDIT, user)"
              ></app-edit-button>
              <app-reset-button
                class="ms-1"
                ngbTooltip="reset password"
                (clickButton)="resetPassword(user.id)"
              ></app-reset-button>
              <app-delete-button
                class="ms-1"
                (clickButton)="openPopup(BUTTON.DELETE, user)"
                ngbTooltip="delete"
              ></app-delete-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="center-top">
    <ngb-pagination
      [collectionSize]="users.length"
      [(page)]="currentPage"
      [maxSize]="maxSizePage"
      [rotate]="true"
      [boundaryLinks]="true"
      [pageSize]="pageSize"
      (pageChange)="changeSelectPage($event)"
    >
    </ngb-pagination>
    <select
      class="form-select ms-4"
      style="width: auto"
      [(ngModel)]="pageSize"
      (ngModelChange)="changePageSize()"
    >
      <option
        *ngFor="let pageSizeOption of pageSizeOptionChange"
        [ngValue]="pageSizeOption"
      >
        {{ pageSizeOption }} items per page
      </option>
    </select>
  </div>
</div>
<ng-template #userDetailPopup>
  <app-user-detail
    (clickCancelButton)="closePopup()"
    (clickSaveButton)="newOrUpdateUser($event)"
    [userEdit]="userEdit"
    [isEdit]="isEdit"
  ></app-user-detail>
</ng-template>
<ng-template #confirmDeletePopup>
  <app-confirm-delete
    (clickCancelButton)="closePopup()"
    (clickOkButton)="processsDelete(directActionButton)"
  >
    <div>
      <p>
        All information will be permanently deleted.
        <br />
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
  </app-confirm-delete>
</ng-template>
<ng-template #notDeleteAdminPopup
  ><app-not-delete-admin (clickButton)="closePopup()"></app-not-delete-admin
></ng-template>
