<div>
  <div class="container-fluid my-2">
    <app-new-large-button (clickButton)="openPopup()"></app-new-large-button>
    <app-delete-large-button></app-delete-large-button>
  </div>
  <div class="container-fluid">
    <table class="table table-striped">
      <thead class="header">
        <tr>
          <th class="text-center">
            <app-check-box-button></app-check-box-button>
          </th>
          <th>Fullname</th>
          <th>Email</th>
          <th>Phone</th>
          <th class="text-center">Admin</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody class="py" *ngFor="let user of users">
        <tr>
          <td class="text-center info">
            <app-check-box-button></app-check-box-button>
          </td>
          <td>
            <img
              src="https://th.bing.com/th/id/OIP.qy9-YdYEPSC1IZ_STEWwLQHaHa?pid=ImgDet&rs=1"
              class="mx-auto"
            />
            <span
              class="fw-bold name"
              [ngClass]="{ 'text-danger': checkAdmin(user) }"
              >{{ user.fullname }}</span
            >
          </td>
          <td class="info">
            {{ user.email }}
          </td>
          <td class="info">{{ user.phone }}</td>
          <td class="text-center info">
            <app-slider-button
              [isChecked]="checkAdmin(user)"
            ></app-slider-button>
          </td>
          <td class="text-center info">
            <app-edit-button></app-edit-button>
            <app-delete-button></app-delete-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid">
    <app-paging></app-paging>
  </div>
</div>
<app-pop-up [show]="showPopup" (closePopup)="closePopup()">
  <app-user-detail></app-user-detail>
</app-pop-up>
