.error-control {
  font-size: 14px;

  div {
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  span {
    color: #dc3545;
  }
}

.avatar {
  .file-input {
    display: none;
  }

  .avatar-label {
    position: absolute;
  }

  .display-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}