<div>
  <h3 class="mb-3 text-center">Add new user</h3>
  <div class="mb-3">
    <label for="fullname" class="form-label">Full name:</label>
    <input type="text" class="form-control" id="fullname" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone:</label>
    <input type="text" class="form-control" id="phone" />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" />
  </div>
  <div class="mb-3">
    <label for="repeat-password" class="form-label">Repeat password:</label>
    <input type="password" class="form-control" id="repeat-password" />
  </div>
  <div>
    <label class="form-label me-3">Admin</label>
    <app-slider-button></app-slider-button>
  </div>
  <div class="text-center">
    <app-save-button></app-save-button>
    <app-cancel-button></app-cancel-button>
  </div>
</div>
