<div>
  <h3 class="py-2 text-center sticky-top bg-white">New user</h3>
  <div>
    <div class="mb-3">
      <label for="avatar" class="form-label">Avatar:</label>
      <input
        type="file"
        accept="image/*"
        (change)="selectFile($event)"
        class="ms-3"
      />
      <div class="text-center">
        <img *ngIf="currentFile" [src]="preview" class="avatar" />
      </div>
    </div>
    <div class="mb-3">
      <label for="fullname" class="form-label">Full name:</label>
      <input type="text" class="form-control" id="fullname" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone:</label>
      <input type="text" class="form-control" id="phone" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <div class="mb-3">
      <label for="repeat-password" class="form-label">Repeat password:</label>
      <input type="password" class="form-control" id="repeat-password" />
    </div>
    <div>
      <label class="form-label" text-primary>Admin</label>
      <app-slider-button class="ms-3"></app-slider-button>
    </div>
  </div>
  <div class="text-center sticky-bottom bg-white">
    <app-save-button></app-save-button>
    <app-cancel-button></app-cancel-button>
  </div>
</div>
