<div class="container-fluid">
  <form [formGroup]="userForm">
    <h4 class="py-2 text-center sticky-top bg-white">New user</h4>
    <hr />
    <div>
      <div class="mb-3">
        <label for="avatar" class="form-label text-primary">Avatar:</label>
        <input
          type="file"
          accept="image/*"
          (change)="selectFile($event)"
          class="ms-3"
        />
        <div class="text-center">
          <img *ngIf="currentFile" [src]="preview" class="avatar" />
        </div>
      </div>
      <div class="mb-3">
        <label for="fullname" class="form-label text-primary">Full name:</label>
        <input
          formControlName="fullname"
          type="text"
          class="form-control"
          id="fullname"
        />
        <div class="error-control left-center mt-1">
          <div class="center-center"><i class="bi bi-exclamation"></i></div>
          <span class="ms-1">Required field</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label text-primary">Email:</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
        />
        <div class="error-control left-center mt-1">
          <div class="center-center"><i class="bi bi-exclamation"></i></div>
          <span class="ms-1">Required field</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label text-primary">Phone:</label>
        <input
          formControlName="phone"
          type="text"
          class="form-control"
          id="phone"
        />
      </div>
      <div formGroupName="password">
        <div class="mb-3">
          <label for="password" class="form-label text-primary"
            >Password:</label
          >
          <input
            formControlName="typePassword"
            type="password"
            class="form-control"
            id="password"
          />
          <div class="error-control left-center mt-1">
            <div class="center-center"><i class="bi bi-exclamation"></i></div>
            <span class="ms-1">Required field</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="repeat-password" class="form-label text-primary"
            >Repeat password:</label
          >
          <input
            formControlName="repeatPassword"
            type="password"
            class="form-control"
            id="repeat-password"
          />
          <div class="error-control left-center mt-1">
            <div class="center-center"><i class="bi bi-exclamation"></i></div>
            <span class="ms-1">Required field</span>
          </div>
        </div>
      </div>

      <div>
        <label class="form-label text-primary">Admin</label>
        <app-slider-button
          class="ms-3"
          formControlName="isAdmin"
        ></app-slider-button>
      </div>
    </div>
    <hr />
    <div class="text-center bg-white mb-3">
      <app-save-button (clickButton)="onClick(BUTTON.OK)"></app-save-button>
      <app-cancel-button
        (clickButton)="onClick(BUTTON.CANCEL)"
      ></app-cancel-button>
    </div>
  </form>
</div>
