<div
  class="modal-container"
  [ngClass]="selectClass()"
  [style.zIndex]="zIndex"
  [style.display]="show ? 'flex' : 'none'"
  (click)="onClickModal($event)"
>
  <div
    class="modal-popup-bk"
    [style.zIndex]="zIndex + 1"
    (click)="onClose($event)"
  >
    &nbsp;
  </div>
  <div
    class="modal-window"
    [style.background-color]="transparent && 'transparent'"
    [style.zIndex]="zIndex + 2"
  >
    <div class="modal-popup-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
